name: CI-CD_todo-app

on:
  push: 
    branches: [ "master" ]

jobs:
  tests:
    runs-on: ubuntu-latest
    
    steps:
    - name: Git clone repo
      uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: '1.18'
    
    - name: Installation go-version
      run : go version
    
    - name: Test
      run: go test ./...
    
 # connection:
 #   - name: ls -a via ssh
  #    uses: garygrossgarten/github-action-ssh@release
   #   with:
    #    command: ls -a
     #   host: ${{ secrets.HOST }}
      #  username: garygrossgarten
       # passphrase: ${{ secrets.PASSPHRASE }}
        #privateKey: ${{ secrets.PRIVATE_KEY}}
  
  deploy:
    runs-on: ubuntu-latest
    needs  : [tests]
   
    steps:
    - name: Git clone repo
      uses: actions/checkout@v3

    - name: Install Docker compose
      run : docker compose up --build -d
